# Folders
datasets/inst-templates/*/restyled-conversations/
datasets/inst-templates/*/conversations/
datasets/inst-templates/*/dispositions/
datasets/inst-templates/*/motivations/

# Files
*.pkl
*.tsv
*.csv
